@charset "UTF-8";

@import "style";
@import "custom";

@url: '/public/';
@wCenter: calc(100% - 3rem * 2); 

:root { 
  // основные цвета
  --red-main: 5;
  --green-main:29;
  --blue-main: 57;
  --c-main: rgb(var(--red-main), var(--green-main), var(--blue-main));//#171d39
  --c-main2: rgb(calc(var(--red-main) + 5), calc(var(--green-main) + 6), calc(var(--blue-main) + 9)); // rgb(28, 35, 68) #1c2344 
  --c-shadow: var(--red-main), var(--green-main), var(--blue-main);
  --c-money: #ffce79;
  --c-fail: #fe5454;
  --c-success: #61ac73;
  --c-btnlink: #4f8dde;
  --c-stats: #a4d1ff;
  --c-form: rgb(calc(var(--red-main) - 4), calc(var(--green-main) - 5), calc(var(--blue-main) - 9)); //rgb(19, 24, 48) #131830   объединил с #141a31
  // специфичные цвета
  --c-itemfail: rgba(111, 37, 46, 0.6);
  --c-itemsuccess: rgba(38, 117, 73, 0.6);
  --c-btn: #baf9dc;
  --c-btn2: #6649d0;
  --c-btn3: #c6a2ff;
  --c-btn4: #f6af54;
  --c-btnchat: #4981cf;
  --c-online: #7fd894;
  --c-placeholder: var(--c-nav); //#b5bdda;
  --c-exit: #323b5e;
  --c-scroll: rgb(calc(var(--red-main) + 2), calc(var(--green-main) + 3), calc(var(--blue-main) + 5));//rgb(25, 32, 62);
  --c-scroll2: rgb(calc(var(--red-main) + 43), calc(var(--green-main) + 50), calc(var(--blue-main) + 78));//rgb(66, 79, 135);
  --c-checkbox: rgb(calc(var(--red-main) + 36), calc(var(--green-main) + 39), calc(var(--blue-main) + 69));//rgb(​ 59, ​ 68, ​ 116)  #3b4474;
  --c-checkbox2: rgb(calc(var(--red-main) + 74), calc(var(--green-main) + 80), calc(var(--blue-main) + 102));//rgb(​ 97, ​ 109, ​ 159) #616d9f;
  //похожие var(--c-custom)
  --c-custom: rgb(calc(var(--red-main) + 8), calc(var(--green-main) + 9), calc(var(--blue-main) + 15));//rgb(31, 38, 72) #1f2648
  --c-custom1: rgb(calc(var(--red-main) + 15), calc(var(--green-main) + 17), calc(var(--blue-main) + 29));//rgb(38, 46, 86) #262e56
  --c-custom2: rgb(calc(var(--red-main) - 6), calc(var(--green-main) - 13), calc(var(--blue-main) - 24));//rgb(17, 16, 33) #111021
  --c-custom3: rgb(calc(var(--red-main) + 4), calc(var(--green-main) - 3), calc(var(--blue-main) - 11));//rgb(27, 26, 46) #1b1a2e
  --c-custom4: rgb(calc(var(--red-main) + 12), calc(var(--green-main) + 5), calc(var(--blue-main) + 4));//rgb(35, 34, 61) #23223d
  --c-custom5: rgb(calc(var(--red-main) - 1), calc(var(--green-main) - 2), calc(var(--blue-main) - 4));//rgb(22, 27, 54) #161b36
  --c-custom6: rgb(calc(var(--red-main) + 19), calc(var(--green-main) + 21), calc(var(--blue-main) + 37));//rgb(42, 50, 94) #2a325e
  --c-custom7: rgb(calc(var(--red-main) + 17), calc(var(--green-main) + 18), calc(var(--blue-main) + 28));//rgb(42, 50, 94) #282f55
  --c-custom8: rgb(calc(var(--red-main) + 12), calc(var(--green-main) + 14), calc(var(--blue-main) + 20));//rgb(35, 43, 77) #232b4d
  --c-custom9: rgb(calc(var(--red-main) + 10), calc(var(--green-main) + 12), calc(var(--blue-main) + 20));//rgb(33, 41, 77) #21294d
  --c-custom10: rgb(calc(var(--red-main) + 11), calc(var(--green-main) + 13), calc(var(--blue-main) + 22));//rgb(34, 42, 79) var(--c-custom10)
  --c-custom11: rgb(calc(var(--red-main) + 13), calc(var(--green-main) + 15), calc(var(--blue-main) + 25));//rgb(36, 44, 82) #242c52
  --c-custom12: rgb(calc(var(--red-main) + 26), calc(var(--green-main) + 25), calc(var(--blue-main) + 33));//rgb(46, 54, 90) #2e365a
  //текст и иконки
  --c-icon: #fff;
  --red-text: 235;
  --green-text:239;
  --blue-text: 253;
  --c-text: rgb(var(--red-text), var(--green-text), var(--blue-text)); //rgb(235, 239, 253) #ebeffd
  --c-text1: #fff;
  --c-text2: var(--c-text);//#bbc6ee;
  --c-text3: rgb(calc(var(--red-text) - 28), calc(var(--green-text) - 22), calc(var(--blue-text) - 5)); //rgb(207, 217, 248) #cfd9f8
  --c-text4: var(--c-text);//#b8c7f0;
  --c-text5: var(--c-text);//#e7ecff;
  --c-text6: var(--c-text);//#c6cbdb;
  --c-text7: var(--c-text);//#c5cbe2;
  --c-text8: var(--c-text);//#dfe7fe;
  --c-text9: var(--c-text);//#cbd1e9;
  --c-text10: var(--c-text);//#d4daf2;
  --c-text11: var(--c-text);//#c5cef3;
  --c-text12: var(--c-text);//#c5cef3;
  --c-text13: var(--c-text);//#dfe6fe;
  --c-text14: var(--c-text);//#d4d9e8;
  --c-opacity: 255,255,255;
  --c-opacity2: var(--red-text), var(--green-text), var(--blue-text); //rgba(235, 239, 253)
  --c-title: rgb(calc(var(--red-text) - 20), calc(var(--green-text) - 24), calc(var(--blue-text) - 1)); //rgb(205, 215, 252) #cdd7fc
  --c-nav: #a3abc6; //объединил с другими кнопками навигации и в чате
  --c-textdark: #8d93b1;
  --c-textdark1: var(--c-textdark);//#7d8599;
  --c-textdark2: var(--c-textdark);//#a1adc8;
  --c-textdark3: var(--c-textdark);//#a4aac6;
  --c-textdark4: var(--c-textdark);//#a4acc3;
  --c-textdark5: var(--c-textdark);//#979db6;
  --c-textdark6: var(--c-textdark);//#abb1c6;
  --c-textdark7: var(--c-textdark);//#a8b1cf;
  --c-textdark8: var(--c-textdark);//#acacb7;
  --c-textdark9: var(--c-textdark);//#8088a9;
  //notification не менял
}

